.body-home-info{
    display: flex;
    justify-content: center;
    background-color: white;
    /* border: 1px solid black; */
    width: 100vw;
    height: fit-content;
    margin-top: 10px;
    box-shadow: 3px 3px 20px -14px rgb(23,41,74);
}
.continer-card{
    /* border: 1px solid black; */
    width: 75vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
.title-info {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.titles{
    display: flex;
    justify-content: start;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 65vw;
    height: 350px;
}

.title-info h1{
    font-size: 40px;
    font-weight: 600;
    color: rgb(36, 123, 204);
}
.title-info p{
    /* border: 1px solid black; */
    width: 70vw;
    margin-top: 30px;
    font-size: 30px;
    padding: 6px;
    color: rgb(27, 85, 139);
}

.body-home-info-cards{
    margin-top: 50px;
    box-shadow: 3px 3px 20px -10px rgb(23,41,74);
    border-radius: 8px;
    background-color: whitesmoke;
    /* border: 1px solid black; */
    width: 420px;
    height: 350px;
    margin: 20px;
    position: relative;
    overflow: hidden;

}
.body-home-info-cards .info{
    padding: 6px;
    position: absolute;
    bottom: 0px;
    box-sizing: border-box;
    border-radius: 0px 0px 8px 8px;
    /* border: 1px solid black;  */
    width: 100%;
    height: 75px;
    /* background-color: rgb(27, 27, 27, .5);
    color: white; */
    background-color: #fff;
    color: rgb(36, 123, 204);
    transition: .5s;
}
.body-home-info-cards .info h1{
    font-size: 25px;
    margin: 4px;
    font-weight: bold;
}

.body-home-info-cards p{
    font-size: 16px;
    font-weight: bold;
    padding: 6px;
    visibility: hidden;
    opacity: 0;

}
.body-home-info img{
    display: flex;
    justify-content: center;
    border-radius: 8px 8px 8px 8px;
    width: 100%;
    height: 100%;
    transition: .5s;
}
.body-home-info-cards:hover{
    cursor: pointer;
} 
.body-home-info-cards:hover .info{
    bottom: 0px;
    height: fit-content;
    background: #fff;
    opacity: 8;
}
.body-home-info-cards:hover p{
    opacity: 1;
    visibility: visible;
    color: rgb(27, 85, 139);
}
.body-home-info-cards:hover img{
    transform: scale(1.1) rotate(-3deg);
}

.body-home-company{
    display: flex;
    justify-content: center; 
    /* border: 1px solid black; */
    background-color: #fff;
    box-shadow: 3px 3px 20px -14px rgb(23,41,74);
    width: 100vw;
    margin-top: 30px;
}
.continer-company{
    /* border: 1px solid black; */
    width: 75vw;
    height: fit-content;
    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.body-home-company-cards{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 300px;
    height: 150px;
    margin-top: 10px;
}
.body-home-company-cards .info2 {
    font-size: 12px;
    font-weight: bold;
    padding: 6px;
    visibility: hidden;
    opacity: 0;
}
    
.body-home-company-cards:hover{
    cursor: pointer;
   
}
.body-home-company-cards:hover .info2{
    background: black;
    opacity: 8;
}
.body-home-company-cards:hover p{
    opacity: 1;
    visibility: visible;    

}
